body {
    width: 1020px;
    margin: 0 auto;
    background-image: url(../images/bg.jpg);
    color: #7a7a7a;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    text-align: center;
    background-color: black;
}
ul {
    display: flex;
    list-style: none;
    justify-content: center;

}

nav li {
    margin: 1em;
    color: white;
    text-transform: uppercase;

}
.selected {
    color:#cfa205;
}
h1 {
    text-transform: uppercase;
    font-size: 133px;
    color: #cfa205;
}
h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #cfa205;
}
#socialbar {
    background-color: #e8e8e8;
    height: 60px;
    margin: 0;
    align-items: center;
}
li {
    margin: 0.5em;

}
main {
    background-color: white;
    margin: 0 auto;
    width: 1020px;

}

#paragraphe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 900px;
    margin: 0 auto;
    padding: 2em 0;
}

#article {
    display: flex;
    justify-content: space-around;
    height: 675px;
}

article {
    width: 260px;
}

h3 {
    color: black;
    text-transform: uppercase;
}

@media(max-width:460px) {

    body {
        width: 100%;
    }

    ul {
        flex-direction: column;
    }

    main {
        width: 100%;
    }
    }
